<app-configuration [displayConfiguration]="displayConfiguration" (listeConfig)="onStartGame($event)"></app-configuration>
<div *ngIf="restart" class="center">
    <button type="button" (click)="onRestart()"  >Recommencer</button>
</div>
<app-solution [combinaisonWinner]="combinaisonWinner" [partieFinie]="partieFinie"></app-solution>

<app-user-choice [gameStart]="gameStart" [nbreBille]="nbreBille" (combinaisonPlayerList)="getCombinaisonPlayerList($event)"></app-user-choice>

<app-liste-proposition [combinaisonPlayerList]="combinaisonPlayerList"></app-liste-proposition>

