<div class="config" *ngIf="displayConfiguration">
    <h2>Configuration de la partie</h2>
    <div>
        <label for="nbTriesDispo">Nombre d'essai</label>
        <select [(ngModel)]="nbTries"  name="" id="nbTriesDispo">
            <option *ngFor="let item of listNbTries" [value]="item">{{ item }}</option>
        </select>
    </div>
    <div>
        <label for="nbBilleDispo">Nombre de billes à trouver</label>
        <select [(ngModel)]="nbBille"  name="" id="nbBilleDispo">
            <option *ngFor="let item of listNbBille" [value]="item">{{ item }}</option>
        </select>
    </div>
    <div>
        <label for="nbJoueurChoisi">Nombre de joueurs</label>
        <select [(ngModel)]="nbJoueur"  name="" id="nbJoueurChoisi" (ngModelChange)="onChangeJoueur()">
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
    </div>
    <div>
        <label for="nbColorChoisi">Nombre de couleurs</label>
        <select [(ngModel)]="nbColor"  name="" id="nbColorChoisi">
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
        </select>
    </div>
    <ng-container *ngIf="nbJoueur==2">
        <label>Combinaison gagnante : </label>
        <div class="inline">
            
            <ng-container *ngFor="let bille of combinaisonPlayer.bille; let i = index">
                <div class="square" style="background-color: lightgray;">
                <input disabled type="button" class="dot" [ngStyle]="{'background-color': bille.color}">
            
                </div>
            </ng-container>        
        </div>
    </ng-container>
    <button type="button" (click)="OnStart()">Commencer la partie</button>
</div>
