/* You can add global styles to this file, and also import other style files */
body {
    background-color: lightseagreen;
}

.dot {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    border-color: white;
}

.panel-color{
    position: absolute;
    margin-left: 15%;
}

.square {
    height: 75px;
    width: 75px;
    /* background-color: lightgrey; */
}

.square > .dot {
    margin-top: 13px;
    margin-left: 10px;
}


.inline{
    display: flex;
    justify-content: center;
}