<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()"> [formControlName]="'color'+(i+1)" -->
<div class="panel-color" *ngIf="gameStart" > 
    <div class="inline">
        <ng-container *ngFor="let bille of combinaisonPlayer.bille; let i = index">
            <div class="square" style="background-color: lightgray;">
            <input disabled type="button" class="dot" [ngStyle]="{'background-color': bille.color}">
           
            </div>
        </ng-container>        
    </div>
    <div class="color-choice">
        <ng-container *ngFor="let buttons of buttonDisplay">
            <ng-container *ngIf="buttons == ''"><br></ng-container>
            <ng-container *ngIf="buttons == 'reset'"><button type="button" (click)="onReset()" class="button-color pt"><span>Reset</span></button></ng-container>
            <ng-container *ngIf="buttons == 'valider'"><button type="button" (click)="onSubmit()" class="button-color pt"><span>Valider</span></button></ng-container>
            <ng-container *ngIf="buttons != 'valider' && buttons != 'reset' && buttons != ''"><button type="button" (click)="addColor(buttons)" class="button-color"><span class="dot" [ngStyle]="{'background-color': buttons}"></span></button></ng-container>
        </ng-container>
    </div>
</div>
<!-- </form> -->